HOST=145.223.118.168  # Optional, can be left blank or set to a specific host
PORT=port_number  # Optional, can be left blank or set to a specific port
PUBLIC_URL=https://proxy.animoon.me  # Mandatory, your website's public URL
ALLOWED_ORIGINS=https://proxy.animoon.me,https://site1.com,https://site2.com  # Mandatory, allowed origins
